$radius-layout: 0;
.app {
  display: flex;
  flex-direction: row;
  //gap: 3rem;
  //padding: 3rem 5rem;
  .sidebar {
    @include media-breakpoint-down(md) {
      display: none;
    }
  }
}
.sidebar {
  grid-area: sidebar;
}
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #f5f8fa;
  border-top-#{$end-direction}-radius: $radius-layout;
  border-bottom-#{$end-direction}-radius: $radius-layout;
  &.isLoading {
    overflow: hidden;
    position: relative;
  }
  .content {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    &-head {
      margin-bottom: 2rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &-title {
        h2 {
          font-size: 1.5rem;
        }
      }
    }
    &-body {
      flex: 1;
    }
  }
}
.main-header {
  border-top-#{$end-direction}-radius: $radius-layout;
  grid-area: main-header;
  position: sticky;
  top: 0;
  right: 0;
  z-index: 1021;
  transition: all 0.3s ease-out;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(7px);
  border-bottom: $border;
  grid-area: main-header;
  &-inner {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    @include media-breakpoint-down(md) {
      padding: 1rem 0;
    }
  }
  &-toolbar {
    margin-#{$start-direction}: auto;
    @include media-breakpoint-down(md) {
      display: none;
    }
  }
  &-search {
    flex: 1;
    .omni-search {
      max-width: 350px;
      border-radius: 70px !important;
    }
  }
}
